<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.web.mappers.MemberMapper">
   <select id="truncateMember" parameterType="hashmap">
   		${TRUNCATE_MEMBERS}
   </select>
   <select id="createDB" parameterType="hashmap">
   		${CREATE_DB}
   </select>
   <select id="selectOneFromMembers" 
   resultType="com.bitcamp.web.domains.MemberDTO" 
   parameterType="com.bitcamp.web.domains.MemberDTO">
   	select name, accessCode
   	from members where email like #{email} and password like #{password}
   </select>
   <insert id="insertOneIntoMembers" parameterType="com.bitcamp.web.domains.MemberDTO">
   	insert into members (email, name, password, accessCode) values(#{email}, #{name}, #{password}, #{accessCode})
   </insert>
</mapper>